header {
    position: relative ;
    background-color: $accent-color-100;
    text-align: center;
    padding: 4em 2em;

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: inherit;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);
    }

    .profile-pics {
        width: 160px;
        clip-path: circle();
        margin: 0 auto;
       
    }

    .sub-title {
        color: $accent-color;
        text-transform: uppercase;
        font-size: $sub-title-font-size;
        font-weight: map-get($font-weights, "regular" );
        letter-spacing: 2px;
        
    }

    h1 {
        padding-bottom: 1em ;
    }

    h1 span {
        color: $text-color;
        font-family: $font-family-secondary;
        font-weight: map-get($font-weights, "bolder" );
        font-size: $hero-text-font;
        line-height: 46px;
        display: block;
    }

    
}

.rounded-text {
    position: absolute;
    right: 70px;
    width: 100px;
    height: 100px;
    z-index: 1;
    
}

.header-flex {
    display: flex;
    flex-direction: column;
}