.btn {
    background-color: $primary-color;
    color: $color-white;
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: $button-font-size;
    font-weight: map-get($font-weights, "bold" );
    border: none;
    @include transition-ease;

    &:hover {
        background-color: $button-hover;
    }

}