$primary-color: #0699A6;
$accent-color: #9E8C6C;
$text-color: #000;
$font-size: 1rem;
$font-weights: (
    "regular" : 400,
    "medium" : 500,
    "bold" : 700,
    "bolder" : 900,
);
$font-family-1: PT Sans Narrow;
$font-family-2: Playfair Display;
